*{
    margin: 0;
    padding: 0;
}

h1{
    margin-top: 32px;
    margin-bottom: 32px;
}

li{
    background-color: #1c1a1d;
    border: solid 4px transparent;
    border-radius: 4px;
    color: #ffff;
    cursor: pointer;
    display: inline-block;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: 32px;
    padding: 32px;
    height: 250px;
    width: 400px;
}

.selected{
    background-color: hsl(280, 5%, 21%);
    border: solid 4px rgb(68, 68, 232);
}

.hidden{
    display: none;
}